
<!-- No style. it can be styled alot more -->


<div class="container h-100 mt-5">
  <div class="row justify-content-center align-item-center h-100">
    <div class="col-md-6 my-auto"> 
      <h1>Welcome to video chat!</h1>
      <div>
        Want to chat?
      </div>
      <button class="btn btn-primary me-2" (click)="createVideoCall()">Create a new video chat room now!</button>
      <button class="btn btn-info" (click)="createAudioCall()">Create a new Voice chat room now!</button>
    </div>
  </div>
</div>
