<main class="page">
  <h1 class="page-title">Meeting Dashboard</h1>
  <div class="new-meeting">
    <a routerLink="/new-meeting">
      <button>+ Start new</button>
    </a>
  </div>
  <section class="active-meetings">
    <div class="card"  *ngFor="let meeting of meetings | keyvalue">
      <div class="card-body">
        <div><a class="card-link card-primer">{{meeting.value.number_of_participants}} participants</a></div>
        <h5 class="card-title">{{meeting.key}}</h5>
        <hr>
        <p class="card-text">{{meeting.value.description}}</p>
      </div>
      <div class="card-footer">
        <div>
          <div class="media-body"><a class="card-link" (click))="joinMeeting(meeting.key)">Join</a></div>
          <div class="footerright">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>