<main class="page">
  <h1 class="page-title">Meeting Dashboard</h1>
  <div class="new-meeting">
    <a routerLink="/new-meeting">
      <button>+ Start new</button>
    </a>
  </div>
  <section class="active-meetings">
    <div class="card">
      <div class="card-body">
        <div><a class="card-link card-primer">5 participants</a></div>
        <h5 class="card-title">Classroom Discussion</h5>
        <hr>
        <p class="card-text">This is the meeting for discussing issues about modalities in a hypothetical classroom.</p>
      </div>
      <div class="card-footer">
        <div>
          <div class="media-body"><a class="card-link">Join</a></div>
          <div class="footerright">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>